
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #D94F4F;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: white;
    font-size: 36px;
}

.content {
    padding: 30px;
    color: black;
}

.section1 {
    background-color: #F3C13A; 
}

.section2 {
    background-color: #F39C12; 
}

.section3 {
    background-color: #2ECC71;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        background-color: #4B5DBA; 
    }

    .header h1 {
        font-size: 28px;
    }

    .content {
        padding: 50px;
        text-align: center;
        color: white;
    }

    .section1 {
        background-color: #9AE4E8; 
    }

    .section2 {
        background-color: #D16DC1;
    }

    .section3 {
        background-color: #2F3E71; 
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }


    .header::after {
        content: '';
        width: 20px;
        height: 20px;
        background-color: white;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
